head
{
    font-family: 'Montserrat', sans-serif;
}

body
{
    background-image: linear-gradient(to bottom right, #75a4d3, #f08080);
}

html
{
    height: 100%;
    background-repeat: no-repeat;
}

.NavBar
{
    border-radius: auto;
    background-color: rgba(255, 255, 255, 0.055);
}

.Button
{
    border: none;
    background-color: #75a4d300;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
}

.Button:hover
{
    border: none;
    background-color: hsla(210, 52%, 64%, 0.723);
}

.Button:active
{
    border: none;
    background-color: hsl(210, 52%, 64%);
}

h1
{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h2
{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h3
{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

p
{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.TransparentContainer
{
    border-radius: auto;
    background-color: rgba(255, 255, 255, 0.055);
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}

.OurGoalsList
{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: medium;
}

