body
{
    background-color: #FC766AFF;
}

.Header h1
{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #783937FF;
}

.Navigation
{
    text-align: center;
}

.Navigation button
{
    width: 160px;
    height: 50px;
    background-color: #F1AC88FF;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}

.Navigation button:hover
{
    background-color: rgb(241, 157, 112);
}

.Navigation button:active
{
    background-color: rgb(243, 187, 157);
}

.Menu
{
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

.Product
{
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    width: 250px;
    background-color: #F1AC88FF;
}

.Product img
{
    display: block;
    width: 250px; /* Product image */
    height: 150px;
}

.Product h2
{
    font-family: 'Ubuntu', sans-serif; /* Product name */
    color: #783937FF;
    font-size: 1vw;
}

.Product h3
{
    font-family: 'Ubuntu', sans-serif; /* Product price */
    color: #783937FF;
}

.Product button
{
    width: 250px;
    height: 50px;
    background-color: rgb(240, 152, 105);
    border: none;
    display: block;
    float: left;
}

.Product button:hover
{
    background-color: rgb(238, 136, 81);
}

.Product button:active
{
    background-color: rgb(243, 168, 128);
}

.Footer button
{
    width: 250px;
    height: 50px;
    background-color: rgb(240, 152, 105);
    border: none;
}

.Footer button:hover
{
    background-color: rgb(238, 136, 81);
}

.Footer button:active
{
    background-color: rgb(243, 168, 128);
}

.Footer h2
{
    color: #783937FF;
    font-family: 'Ubuntu', sans-serif; /* Product price */
}

.Basket
{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    display: block;
    background-color: #FC766AFF;
    width: 100%;
    height: 100%;
}

.Basket h1
{
    color: #783937FF;
    font-family: 'Ubuntu', sans-serif; /* Product price */
}

.Basket button
{
    width: 250px;
    height: 50px;
    background-color: rgb(240, 152, 105);
    border: none;
    margin-top: 2px;
}

.Basket button:hover
{
    background-color: rgb(238, 136, 81);
}

.Basket button:active
{
    background-color: rgb(243, 168, 128);
}

.OrderedItems
{
    margin-top: 10px;
}

.OrderedItem
{
    width: 250px;
    height: 300px;
    background-color: #F1AC88FF;
    margin-bottom: 10;
    color: #783937FF;
    font-family: 'Ubuntu', sans-serif; /* Product price */
}

.Accessability button
{
    width: 250px;
    height: 50px;
    background-color: rgb(240, 152, 105);
    border: none;
    margin-top: 2px;
}

.Accessability button:hover
{
    background-color: rgb(238, 136, 81);
}

.Accessability button:active
{
    background-color: rgb(243, 168, 128);
}