body{
    background-color: aliceblue;
}

h1{
    font-family: 'Nanum Gothic', sans-serif;
}

.NavBar{
    width: 90%;
    height: 75px;
    margin: auto;
    margin-top: 20px;
    left: 50%;
    right: 50%;
    background-color: #13293D;
}

.NavBar h1{
    font-family: 'Nanum Gothic', sans-serif;
    display: inline;
    color: white;
    margin-left: 10px;
}

.NavBar button{
    font-family: 'Nanum Gothic', sans-serif;
    display: inline;
    height: 100%;
    margin-left: 10px;
    background-color: #00000000;
    border: none;
    color: white;
}

.NavBar button:hover{
    color: #247BA0;
}

.NavBar button:active{
    color: #006494;
}

.CallToActionOne{
    width: 90%;
    height: 100%;
}

.CallToActionOneImage {
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 49%;
    left: 10%;
}

.CallToActionOneQuote {
    font-family: 'Nanum Gothic', sans-serif;
    height: 49%;
    width: 49%;
    display: inline-block;
    right: 0%;
    bottom: 0%;
    margin:auto;
    position: absolute;
}

.CallToActionOneQuote button{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    position: absolute;
    left: 17%;
    background-color: #1B98E0;
    width: 25%;
    height: 8%;
    border-radius: 5%;
}

.CallToActionOneQuote button:hover{
    background-color: #247BA0;
}

.CallToActionOneQuote button:active{
    background-color: #006494;
}

