body{
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #f0fefe;
}

.InputText{
    font-size: medium;
    margin: auto;
    margin-bottom: 10px;
    width: 40%;
    height: 45px;
    display: block; 
    background-color: #2a2a2a;
    color: #697575;
    border: none;
}

.InputButton{
    margin: auto;
    margin-bottom: 10px;
    width: 40%;
    height: 45px;
    display: block;
    background-color: #0a0a0a;
    border: none;
    color: #f0fefe;
}

.InputButton:hover{
    transform: scale(1.05)
}

.InputButton:active{
    transform: scale(1)
}

.Footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #000000;
}

@media only screen and (max-width: 1300px) {
    .InputText{
        font-size: medium;
        margin: auto;
        margin-bottom: 10px;
        width: 95%;
        height: 45px;
        display: block; 
        background-color: #2a2a2a;
        color: #697575;
        border: none;
    }

    .InputButton{
        margin: auto;
        margin-bottom: 10px;
        width: 95%;
        height: 45px;
        display: block;
        background-color: #0a0a0a;
        border: none;
        color: #f0fefe;
    }
}