body
{
    background: #CECECE;
    background-color: #CECECE;
}

h1
{
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px rgb(6,0,112,);
}

h2
{
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px rgb(6,0,112,);
}

h3
{
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px rgb(6,0,112,);
}

.NavBar
{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.button
{
    font-family: 'Montserrat', sans-serif;
    align-self: top;
    background-color: #2e2e2e18;
    border: none;
    color: white;
    padding: 31.25% 200%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
.Button1
{
    background: #01034413;
	color: rgb(0, 0, 0);
	padding: 1% 1%;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}

.Button:hover
{
    background-color: rgb(112, 112, 112);
}

.SideBar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    bottom: 10;
    background-color: rgba(0, 0, 0, 0.03); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.Socials
{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    padding:30px;
    box-sizing:border-box;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
  
  /* Set a specific color for each brand */
  
  /* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

    /* Youtube */
.fa-youtube {
    background: #FF0000;
    color: white;
}

    /* Spotify */
.fa-spotify {
    background: #1DB954;
    color: white;
}

#Spotify
{
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    display:none;
    bottom:0px;
    right:0px;
    width:200px;
}

#Spotify img
{
    border-radius:50%;
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

#Spotify p
{
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

#Spotify div
{
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    width: 80%;
}

.IAM h1
{
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px rgb(6,0,112,);
    font-size: 500%;
}

.Quote h2
{
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px rgb(6,0,112,);
    font-size: 225%;
}


@media (max-width: 767px) {
    .SideBar
    {
        display:none;
    }
    .IAM
    {
        color:rgb(0, 0, 0);
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-shadow: 2px 2px rgb(6,0,112,);
        font-size: 40%;
    }
    .Quote h2
    {
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px rgb(6,0,112,);
    font-size: 100%;
    }
    .button
    {
    font-family: 'Montserrat', sans-serif;
    align-self: top;
    background-color: #2e2e2e18;
    border: none;
    color: white;
    padding: 31.25% 200%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    }
  
    .Button1
    {
    background: #01034413;
	color: rgb(0, 0, 0);
	padding: 1% 1%;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 20px;
	border-radius: 5px;
    }

    .Button:hover
    {
    background-color: rgb(112, 112, 112);
    }
}