body
{
    background-color: black;
}

.Title
{
    font-family: monospace;
    color: wheat;
}

.NavBar button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}

.Logs button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}

.Logs a:after 
{
    content: "";
    display: block;
    height: 0;
    width: 1px;
}
