body
{
    background-color: #018281;
}

h3
{
    font-family: sans-serif;
    color: black;
}

h1
{
    font-family: sans-serif;
}

.Desktop button
{
    background-color:rgba(212, 212, 227, 0);
    border: none;
    display: block;
}

.Desktop button:focus
{
    background-color:rgba(0, 0, 255, 0.149);
}

.Desktop button:hover
{
    cursor: pointer;
}

.DesktopIcon
{
    font-family: sans-serif;
    width: fit-content;
    height: 75px;
    font-size: small;
    margin-bottom: 32px;
    text-align: center;
}

.DesktopIcon img
{
    width: 64px;
    height: 64px;
}

.TaskBar
{
    font-family: sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: #c0c0c0;
    color: white;
    display: inline-block;
    z-index: 2;
}

.TaskBarButton
{
    border-color: black;
    border-style: groove;
    background-color: #c0c0c0;
    color: black;
    height: 30px;
    width: 160px;
    margin-left: 1px;
    text-align: left;
}

.TaskBarButton img
{
    left: 0;
    width: 12px;
    height: 12;
}

.TaskBarButton:hover
{
    background-color: #000080;
    color: white;
}

.TaskBarButton:active
{
    background-color: #ffffff;
    color: white;
}

.TaskBarButton:focus
{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.Start
{
    font-family: sans-serif;
    border-color: black;
    border-style: groove;
    background-color: #c0c0c0;
    color: black;
    height: 30px;
    width: 60px;
    z-index: 2;
}

.Start:active
{
    background-color: #ffffff;
    color: white;
}

.Start:hover + .StartMenu
{
    display: block;
}

.Start:hover
{
    background-color: #000080;
    color: white;
}

.StartMenu
{   
    display: none;
    background-color: #c0c0c0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 250px;
    height: 480px;
    z-index: -8;
}

.StartMenu:hover
{   
    display: block;
    background-color: #c0c0c0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 250px;
    height: 480px;
    z-index: -8;
}

.StartMenu button
{
    border-color: black;
    border-style: groove;
    background-color: #c0c0c0;
    color: black;
    height: 10%;
    width: 100%;
    text-align: left;
    margin-bottom: 1px;
}

.StartMenu button:hover
{
    background-color: #000080;
    color: white;
}

.SoftwareWindow
{
    display: none;
    background-color: #c0c0c0;
    width: 350px;
    height: 305px;
    z-index: 5;
    margin-left: 30%;
    margin-top: 10%;
    position: absolute;
    border-style: ridge;
    border-color: darkslategray;
    box-shadow: 80px;
}

.SoftwareWindow button
{
    border-color: black;
    border-style: groove;
    background-color: #c0c0c0;
    color: black;
    height: 30px;
    margin-left: 1px;
    text-align: center;
}

.SoftwareWindow button:active
{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.SoftwareWindow button:hover
{
    cursor: pointer;
}

.MusicWindow
{
    display: none;
    background-color: #c0c0c0;
    width: 325px;
    height: fit-content;
    z-index: 5;
    margin-left: 75%;
    margin-top: 5%;
    position: absolute;
    border-style: ridge;
    border-color: darkslategray;
    box-shadow: 80px;
}

.MusicWindow button
{
    border-color: black;
    border-style: groove;
    background-color: #c0c0c0;
    color: black;
    height: 30px;
    width: 100%;
    margin-bottom: 3px;
    text-align: center;
}

.MusicWindow button:active
{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.MusicWindow button:hover
{
    cursor: pointer;
}

.ContactWindow
{
    display: none;
    background-color: #c0c0c0;
    width: 200px;
    height: 220px;
    z-index: 5;
    margin-left: 4%;
    margin-top: 1%;
    position: absolute;
    border-style: ridge;
    border-color: darkslategray;
    box-shadow: 80px;
}

.ContactWindow button
{
    border-color: black;
    border-style: groove;
    background-color: #c0c0c0;
    color: black;
    height: 30px;
    width: 200px;
    margin-bottom: 3px;
    text-align: center;
}

.ContactWindow button:active
{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.ContactWindow button:hover
{
    cursor: pointer;
}

.FileExplorerWindow
{
    display: none;
    background-color: #c0c0c0;
    width: 800px;
    height: 575px;
    z-index: 5;
    margin-left: 170px;
    margin-top: 120px;
    position: absolute;
    border-style: ridge;
    border-color: darkslategray;
    box-shadow: 80px;
}

.FileExplorerWindow button
{
    border-color: black;
    border-style: groove;
    background-color: #c0c0c0;
    color: black;
    height: 30px;
    width: 800px;
    margin-bottom: 3px;
    text-align: left;
}

.FileExplorerWindow button:active
{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.FileExplorerWindow button:hover
{
    cursor: pointer;
}

.DocOne
{
    display: none;
    background-color: #c0c0c0;
    width: 750px;
    height: 620px;
    z-index: 5;
    margin-left: 500px;
    margin-top: 100px;
    position: absolute;
    border-style: ridge;
    border-color: darkslategray;
    box-shadow: 80px;
}

.DocOne button
{
    border-color: black;
    border-style: groove;
    background-color: #c0c0c0;
    color: black;
    height: 30px;
    width: 800px;
    margin-bottom: 3px;
    text-align: left;
}

.DocOne button:active
{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.DocOne button:hover
{
    cursor: pointer;
}

.WelcomeScan
{
    display: none;
    background-color: #c0c0c0;
    width: 400px;
    height: 400px;
    z-index: 5;
    margin-left: 1000px;
    margin-top: 400px;
    position: absolute;
    border-style: ridge;
    border-color: darkslategray;
    box-shadow: 80px;
}

.WelcomeScan img
{
    width: 400px;
    height: 370px;
}

.WelcomeScan button
{
    border-color: black;
    border-style: groove;
    background-color: #c0c0c0;
    color: black;
    height: 30px;
    width: 800px;
    margin-bottom: 3px;
    text-align: left;
}

.WelcomeScan button:active
{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.WelcomeScan button:hover
{
    cursor: pointer;
}

.InlineContent
{
    display: inline-block;
}

.TextBanner
{
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: #000080;
    color: white;
    font-family: sans-serif;
    line-height: 30px;
}

.TextBanner p
{
    display: inline;
}

.TextBanner button
{
    float: right;
    margin-bottom: 1px;
    width: fit-content;
}

.TextBanner button:active
{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.TextBanner button:hover
{
    cursor: pointer;
}