body
{
    background-color: black;
}

.Title
{
    font-family: monospace;
    color: wheat;
}

.NavBar button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}

h2
{
    font-family: monospace;
    color: wheat;
}

.MainSite button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}

.WebsiteOLD button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}

.SideProjects button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}

.Unlisted button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}

.Chick-O-Land button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}

.LuftonCo button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}

.Unit10_2 button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}




  