body
{
    background-color: black;
}

.Title
{
    font-family: monospace;
    color: wheat;
}

.NavBar button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}

.Software button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}

h2
{
    font-family: monospace;
    color: wheat;
}

.TwelveMonthsOfSoftware button
{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    color: wheat;
    cursor:pointer;
    font-family: monospace;
}
  