body
{
    background: #53db95;
    height: 100%;
    background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
}

.Button
{
    border: none;
    padding: 1%;
    width: 17%;
    background-color: #41414100;
}

.Button:hover
{
    border: none;
    background-color: #41414100;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #379683;
    color: white;
    text-align: center;
}
  
.HeaderNav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
}
  
.HeaderNav a 
{
    font-size: 250%;
    float: left;
    display: inline;
    color: #05386b;
    text-align: center;
    padding: 0% 1%;
    text-decoration: none;
}
  

.HeaderNav a:hover
{
    color: #155ca3;
}

h1
{
    text-align: left;
    margin: 0;
    display: inline-block;
    color: #05386b;
    font-family: 'Noto Sans', sans-serif;
}

h2
{
    color: #05386b;
    font-family: 'Noto Sans', sans-serif;
}

.SansSerif
{
    font-family: 'Noto Sans', sans-serif;
}

/* Style all font awesome icons */
.fa{
    padding: 1%;
    font-size: 200%;
    width: 10%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  

.fa:hover {
    opacity: 0.7;
}
  
.fa-twitter {
    background: #00000000;
    color: white;
  }

.fa-youtube {
    background: #00000000;
    color: white;
}

.fa-spotify {
    background: #00000000;
    color: white;
}

.fa-rss {
    background: #00000000;
    color: white;
}

.MintContainer
{
    background-color: #8EE4AF;
}

.GreetingPage
{
    padding-left: 15%;
    padding-top: 5%;
}

.GreetingPage h1
{
    font-size: 500%;
}

.GreetingPage h2
{
    font-size: 300%;
}